body
{
    color: #000;
    background-color: #f1f1f1;
    font-family: 'Roboto', sans-serif;
}

.progress-bar
{
    background-color: #009688;
}
.progress
{
    border-radius: 10px;
}
i
{
    color: #009688;
    margin-right: 15px;
}

.card
{
    position: relative;
}
.card-title
{
    position: absolute;
    top: 22%;
    left: 5%;
    font-size: 30px;
    
}


.work-experience,
.education
{
    background-color: #fff;
}
.content h2,h5
{
  color:#757575;
  padding-top: 20px;
}
.content h6,h5
{
    padding-bottom: 10px;
}
.content h6{
    color:#009688; 
}
#current
{
    background-color: #009688;
    color: #fff;
    padding: 5px;
}
.work-experience-content,
.education-content
{
    padding-left: 20px;
}
.card
{
    width: 100%;
}
.footer
{
    background-color: #009688;
    text-align: center;
    color: #fff;
    font-weight: bold;
    margin: 0;
    padding: 0;
  
}
.footer i
{
    color: #fff;
}
.footer a 
{
    text-decoration: none;
    color: #fff;
}
